.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5dc;
    /* светлый бежевый */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(75, 54, 33, 0.1);
    /* лёгкая тень */
    border-bottom: 2px solid #d2b48c;
    /* светло-коричневая линия */
}

.header a {
    color: #4b3621;
    /* тёмно-коричневый текст */
    text-decoration: none;
    transition: color 0.3s ease;
}

.header a:hover {
    color: #b8860b;
    /* жёлтый оттенок при наведении */
}