.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Полная высота экрана */
    background-color: #fffaf0;
    /* кремовый фон для согласованности с остальным интерфейсом */
}