.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    padding: 10px;
    background-color: #f5f0e1;
    /* Бежевый */
    border: 1px solid #c4b79e;
    /* Кремовый */
    border-radius: 8px;
}

.label {
    font-size: 1rem;
    color: #5c4b31;
    /* Темно-коричневый */
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #c4b79e;
    /* Кремовый */
    border-radius: 5px;
    background-color: #f9f6f1;
    /* Молочный */
    color: #3d2f21;
    /* Коричневый */
}

.input:focus {
    outline: none;
    border-color: #d6b285;
    /* Акцент при фокусе */
    box-shadow: 0 0 5px rgba(214, 178, 133, 0.5);
}

.input::placeholder {
    color: #c4b79e;
    /* Цвет placeholder */
    font-size: 0.875rem;
}