.nav {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #f5f0e1;
    /* Бежевый */
    border-bottom: 2px solid #c4b79e;
    /* Кремовый */
}

.link {
    font-size: 1rem;
    text-decoration: none;
    color: #5c4b31;
    /* Темно-коричневый */
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #d6b285;
    /* Бежевый при наведении */
    color: #ffffff;
}

.active {
    background-color: #8b704f;
    /* Темно-бежевый */
    color: #ffffff;
    pointer-events: none;
    /* Отключаем клик на активной ссылке */
}