.authNav {
    display: flex;
    gap: 15px;
    /* Расстояние между ссылками */
}

.link {
    color: #4b3621;
    /* тёмно-коричневый текст */
    font-weight: bold;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #f5deb3;
    /* светлый бежевый при наведении */
    color: #8b4513;
    /* более насыщенный коричневый при наведении */
}

.active {
    background-color: #d2b48c;
    /* светло-коричневый при активном состоянии */
    color: #fff;
    /* белый текст для контраста */
}