.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f5f0e1;
}

.title {
    font-size: 2.5rem;
    color: #5c4b31;
    margin-bottom: 20px;
}

.formContainer {
    width: 100%;
    max-width: 400px;
    background-color: #f9f6f1;
    padding: 20px;
    border: 1px solid #c4b79e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}