.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.li {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fffaf0;
    /* кремовый фон */
    transition: background-color 0.3s ease;
}

.li:hover {
    background-color: #f5deb3;
    /* светло-бежевый при наведении */
}