.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f0e1;
    /* Бежевый */
    border-radius: 8px;
    border: 1px solid #c4b79e;
    /* Кремовый */
}

.welcome {
    font-size: 1rem;
    color: #5c4b31;
    /* Темно-коричневый */
    margin-right: 15px;
}

.button {
    padding: 8px 16px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #8b704f;
    /* Темно-бежевый */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7a5e41;
    /* Темнее при наведении */
}

.button:active {
    background-color: #6a4e31;
    /* Акцент при нажатии */
}